<section>
  <div class="blogPost">
    <h2>{{blogPost.title}}</h2>
    <h3>{{blogPost.user.username}}</h3>
    <p>{{blogPost.content}}</p>
  </div>
  <div class="commentBox">
    <form id="commentForm">
      <label>Leave a Comment:</label>
      <input type="text" id="comment">
      <input type="submit" value="Post">
    </form>
  </div>
  <div class="comments">
    {{#each blogPost.comments}}
      <div class="comment">
        <h3>{{user.username}}</h3>
        <p>
          {{comment}}
        </p>
      </div>
    {{/each}}
  </div>
  <script>
    // This defines a global JavaScript variable using the window object
    window.blogPostData = {
      post_id: {{post_id}},
      user_id: {{user_id}},
      username: '{{username}}'
    };
  </script>
  <script src="/js/comment.js"></script>
</section>